{
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "airbnb-base",
    "plugin:@typescript-eslint/recommended"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "@typescript-eslint/camelcase": "off",
    "@typescript-eslint/indent": [
      "error",
      2
    ],
    "@typescript-eslint/semi": "error",
    "comma-dangle": "off",
    "consistent-return": "off",
    "lines-between-class-members": "off",
    "no-console": "off",
    "semi": "off",
    "quotes": [
      "error",
      "double"
    ]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".ts"
        ]
      }
    }
  }
}