GITHUB_USERNAME=

# GitHub secret token see here: https://developer.github.com/webhooks/securing/
SECRET_TOKEN=

# Github personal access token see here: https://help.github.com/articles/creating-a-personal-access-token-for-the-command-line/
ACCESS_TOKEN=

# Server configuration
HTTP=80
HTTPS=443