:root {
  --primary: #6574CD;
  --primary-light: #7886D7;
  --primary-dark: #5661B3;
  --javascript: #f1e05a;
  --html: #e34c26;
  --css: #563d7c;
  --typescript: #2b7489;
  --shell: #89e051;
  --batchfile: grey;
  --other: black;
}

.javascript { background-color: var(--javascript); }
.typescript { background-color: var(--typescript); }
.html { background-color: var(--html); }
.css { background-color: var(--css); }
.shell { background-color: var(--shell); }
.batchfile { background-color: var(--batchfile); }
.other { background-color: var(--other); }

.bg-primary { background-color: var(--primary); }
.seperator-primary { background-color: var(--primary); }
.wave-primary > path { fill: var(--primary) }
.wave-white > path { fill: white; }
.color-primary { color: var(--primary); }
.fill-primary { fill: var(--primary-dark) !important; }
.fill-light { fill: var(--primary-light) !important; }
.hidden { display: none !important; }

body {
  font: 20px Montserrat, sans-serif;
  color: #f5f6f7;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
}

.avatar-container {
  background-image: url("../images/space.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  border: 4px solid white;
  user-select: none;
  transition: transform 0.2s ease-in-out;
}

.avatar-container:hover {
  transform: scale(1.05);
}

.content {
  margin-top: 50px;
  z-index: 2;
}

#landing-page, #projects, #fallback-projects, .languages, .language {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}

#landing-page {
  flex-direction: column;
}

.links > * {
  margin: 0px 10px;
  outline: none !important; /* Remove chrome's outline on buttons */
}

#projects, #fallback-projects {
  flex-direction: row;
  flex-wrap: wrap;
}

.repository {
  max-width: 512px;
  min-height: 256px;
  border:  4px solid var(--primary);
  text-align: center;
  margin: 25px;
  padding: 25px;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.1s linear;
}

.repository-name, .description {
  display: block;
  color: var(--primary);
  text-decoration: none;
  margin-bottom: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.repository-name, .language-name {
  font-weight: bolder;
}

.repository-name {
  font-size: 25px;
}

.language {
  margin: 0px 15px;
}

.language-color {
  width: 16px;
  height: 16px;
  margin: 7px 5px;
  border-radius: 50%;
}

.language-name, .description {
  color: var(--primary);
}

.tools > * {
  margin: 25px 25px;
  min-width: 128px;
  min-height: 128px;
}

.logo { 
  transition: fill 0.4s linear;
}